<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST PROJECT</title>
    <link rel="icon" type="image/jpg" href="/public/images/_e66cfe93-a126-42b4-9419-3f6ab7377957.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bottom.css">
    <link rel="stylesheet" href="/css/adaptive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">


</head>

<body>
    <%- include('./blocks/navigation.ejs') %>
        <%- include('./blocks/register.ejs') %>
            <%- include('./blocks/login.ejs') %>
                <div class="maincontainer_content">
                    <%- include('./blocks/contentleft.ejs') %>
                    <%- include('./blocks/topmiddlecontent.ejs') %> 
                    <div class="maincontainer_content_right">
                        <h1>И это тоже</h1>
                    </div>
                </div>
                <div class="content_second">
                    <div class="content_second_left"></div>
                    <div class="content_second_center">
                        <%- include('./blocks/contentmiddle.ejs') %>
                    </div>
                    <div class="content_second_right"></div>
                    <%- include ('./blocks/map.ejs') %>
                </div>
                <%- include ('./blocks/content_last.ejs') %>
                <%- include ('./blocks/footer.ejs') %>
                    <script src="/js/slider.js"></script>
                    <script src="/js/login.js"></script>
                    <script src="/js/aboutin.js"></script>
                    <script src="/js/regopen.js"></script>
                    <script src="/js/alert.js"></script>
</body>

</html>